.chatListContainer {
  position: relative;
  border-radius: 8px;
  height: 100%;
  background-color: #e2c7ff;
  border: 1px solid #a7a7a7;
  border-radius: 8px;

  .userChatList {
    height: calc(100% - 115px);
    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255, 0.5);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
